*{margin: 0;
padding: 0;}


p{color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-decoration: none;
    text-align: center;}


body{background-color: black;
    text-align: center;
    text-decoration: none;}

header{height: 300px;;
        text-decoration: none;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;        
        background-color: black;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;}
header h1{font-size: large;}

footer{text-align: center;
        background-color: black;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 100 px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;}

nav{height: 70px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;}

    nav ul{display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;}

footer ul{display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 100%;}    

        footer ul li{
            background-color: black;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 50px;
            text-decoration: none;
            display: inline;
            height: 100%;
            width: 100%;}
        footer ul li a{color:gold}   




nav ul li{background-color: gold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    text-decoration: none;
    color: black;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;}

main{color: white;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(/PROYECTO/img/Bari-1.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.7;}

main h1{height: 10%;
        width: 50%;}

main p{height: 50%;
        width: 60%;}

main img{height: 30%;
        width: auto;}


.main-eventos{color: white;
                display: flex;
                justify-content: space-evenly;
                height: 1200px;}

.instagram-media{height: 80%;
                width:80%
            }

.div-eventos{display: grid;
            height: 1000px;
            width: 80%;
            gap: 20px;
            grid-template-columns: repeat(auto-fit, minmax(328px, 1fr))
            }


a{text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px}



img{height: auto;
        width: 30%;}


h1{color: white;
    font-size: 30px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    height: 20%;
    width: 30%;
}

div{height: auto;}




@media only screen and (max-width:600px) {
    
    header{
        flex-direction: column;}
    header h1{font-size: small;}
    
    nav ul{display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            width: 80%;}
    div{height: 150px;}
    main{height: 1200px;}
    .main-eventos{height: 1600px;}
    div h1{font-size: small;}
}   