.bi-instagram{font-size: 50px;
    size: 100px;}

p{color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-decoration: none;
    text-align: center;}
    
.instagram-media{height: 80%;
        width:80%
    }

a{text-decoration: none;
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px}

.menulink{text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px}

img{height: auto;
            width: 30%;}
img:hover{scale: 1.5;
                transition: 3s;}

h1{color: white;
                    font-size: 70px;
                    
                    font-family: 'Times New Roman', Times, serif;
                    text-decoration: underline;
                    height: 20%;
                    width: 30%;
                }
                

    
div{height: auto;}

@mixin estilo_titulos ($color, $fontsize) {
    font-size: $fontsize;
    color: $color;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    }

h2{
        // color: white;
        // font-size: 30px;
        @include estilo_titulos(white, 30px);
        font-family: 'Times New Roman', Times, serif;
        text-decoration:none;
        height: 5%;
        width: 30%;}

button{border: 0;
size: 30px;}