nav{height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    ul{display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 80%;
        li{background-color: rgb(246, 215, 42);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 50px;
            text-decoration: none;
            color: black;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        border-radius: 15px;}
    }
        }